*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "nazanin";
  direction: rtl;
}
body{
  position: relative;
  z-index: 1;
  width:100%;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 70%;
  margin: auto;
  
}
.header {
  background-color: rgb(75, 110, 106);
  height: 60px;
  color: white;
  margin-bottom: 20px;
  z-index: 30;
}
.header .navbar {
  display: flex;
  flex-direction: row;
}
.header .mosh {
  position: relative;
  height: 100%;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  padding: 0 15px;
  text-decoration: none;
  color: inherit 
}
.header .mosh:hover{
  background-color: rgb(54, 160, 142);
}
.header .mosh:hover .sub-mosh {
  visibility: visible;
  opacity: 1;
  transform: translateY(0)
}
.header .mosh .sub-mosh {
  position: absolute;
  list-style: none;
  text-align: right;
  background-color: rgb(66, 133, 125);
  cursor: pointer;
  z-index: 1;
  transition: all .3s ease;
  width: 200px;
  right:0;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-15px)

}
.header .mosh .sub-mosh li {
  line-height: normal;
  padding: 10px;
}
.header .mosh .sub-mosh li:hover{
  background-color: rgb(11, 90, 90)
}
.box-check {
  position: relative;
  width: 100%;
  border: solid black 2px;
  height: 300px;
}
.box-check .title-check {
  position: absolute;
  top:0;
  background-color: white;
  height: 25px;
  top: -12.5px;
  right: 0;
  margin-right: 20px;
  padding:0 5px;
}
.container .box-check ul.header-detail-check {
  display: flex;
  list-style: none;
  text-align: center
}